* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: montserrat;
    background-color: #f6f6f6;
   }
   div{

   }
   
   .container{
        background: #f6f6f6; 
   }
   .superior {
        background-color:  #13322b; ;
    }
   .container .btn.btn-main{
        text-align: center;
        background-color:#6b1831;
        color:#f6f6f6;
    
   }
   .container form{
        padding: 0 5px;
        box-sizing: border-box;
   }
   
   .alignright{
       text-align: right;
     }